section {
    height: 100vh;
}

body {
    font-family: 'Quicksand';
    background-color: #ececec;
}


//  % Navbar

nav {
    height: 70px;
}

.fa-compass {
    color: black !important;
    outline: none !important;
}

.nav-toggler-icon {
    outline: none;
}

.nav-link,
.navbar-brand {
    padding: 3px;
    color: #121212;
    transition: 1s;
}

.nav-link:hover,
.navbar-brand:hover {
    outline: solid 1px #000000;
    color: #000000 !important;
}

// % Home
#Home {
    h1 {
        font-family: 'Quicksand';
        margin-top: 15rem;
        margin-left: 2em;
        text-align: left;

        padding: 20px;
    }

    h2 {
        font-family: 'Quicksand';
        margin-top: 0;
        padding: 10px 20px;
        font-size: 20px;
        margin-left: 4em;
    }

    hr {
        border-bottom: dashed 6px #00000000;
    }

    img {
        margin-top: 10rem;
    }
}






#Skills {

    h2 {

        font-size: 3em;
        text-align: center;
    }

    .col-md-3 {

        outline: #CCCCCC solid 4px;
        padding: 3em;
        margin: 3.5em;

        p {
            text-align: center;
        }

        h3 {

            text-align: center;
        }

    }
}

#Tools {
    margin-top: 2em;

    .row {
        h2 {
            font-size: 3em;
            text-align: center;
            margin-bottom: 2em;
        }

        .col-md-3 {
            font-size: 1.5em;
            text-align: center;
            padding: 2em;
            transition: 0.5s;
        }

        .col-md-3:hover {
            border-radius: 20px;
            color: #570ba3;
            background-color: #CCCCCC;
        }
    }

}

#Experience {
    .row {
        h2 {
            font-size: 3em;
            text-align: center;
            margin-bottom: 2em;
        }

        .row {
            padding: 2em;

            h4 {
                font-size: 2em;
                margin-bottom: 1em;
            }
        }

    }

}

#contact {
    margin-top: 30vh;

    .row {
        h2 {
            font-size: 3em;
            text-align: center;
            margin-bottom: 2em;
        }

        .col-md-6 {
            p {
                font-size: 2.5em;
                padding: 0 1em 0 1em;
            }

            h5 {
                padding: 1em 2em 0 2em;
            }

            .socials {
                margin: 2em;

                a {
                    color: #121212;
                    padding: 0.5em;
                }

            }
        }
    }
}

.button-40 {
    font-family: 'Quicksand';
    text-align: center;
    background-color: #121212;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #ecececec;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
}

footer {
    text-align: center;


    small {
        font-size: 1.3em;
        padding: 2em;
    }

}
